/* resources/css/font.css */

/* Google Fonts - Khmer Fonts */
@import url('https://fonts.googleapis.com/css2?family=Moul&family=Siemreap&display=swap');

/* Font Classes */
.font-moul {
    font-family: 'Moul', serif;
}

.font-siemreap {
    font-family: 'Siemreap', sans-serif;
}